@font-face {
font-family: Wet Arial;
src: url(../fonts/WetArial-Regular.otf);
}
@media only screen and (max-width : 768px){
  .example-8 .navbar-brand {
  padding: 0px;
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}
.example-8 .navbar-brand>img {
  height: 100%;
  width: auto;
  padding: 7px 14px; 
}
}



/* EXAMPLE 8 - Center Background */
.example-8 .navbar-brand {
  background: url(../images/WastedWaterLogo.png) center / contain no-repeat;
  width: 200px;
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}
body {
    background-color: #00bfff;
}
#title{
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: #00bfff;
    padding-top: 10%;
}
#logo {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#about{
    padding-top: 8%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: darkgrey;

}
#quiz{
    padding-top: 8%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: indianred;
}
.embed-responsive embed-responsive-16by9{
    width: 60% !important;
}
#menu-container {
    background-color: rgba(117, 190, 218, 0.2);
    width: 50%;
    margin: auto;
	border-radius: 3em;
    padding: 30px;
    min-width: 200px;
}
.btn {
    width: 15%;
    min-width: 150px;
}
.icon {
    max-width: 70%;
    max-height: 95%;
    mix-blend-mode: multiply;
}

.row {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.row-right {
    text-align: right;
    margin-top: 10px;
    margin-bottom: 10px;
}

#help-icon{
    max-width:10%;
    min-width: 40px;
}
h1 {
   text-align: center;
    width: 60%;
    margin: auto;
    padding-bottom: 7%;

}
#main-wrap>div
{
  position: relative;
  margin: auto;
  text-align: center;
}

#block-up-arrow, #block-down-arrow {
  cursor: pointer;
}