html {
    height: 100%;
}

#banner {
    width: 100%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 17%;
    margin-top: 12%;
}

.btn {
    width: 40%;
    height: 40px;
    margin: 6%;
    background-color: #59a7ff;
    color: darkblue;
}

.container {
    background-color: rgba(117, 190, 218, 0.2);
    width: 80%;
    margin: auto;
    margin-bottom: 27%;
	border-radius: 3em;
}

body {
    height: 100%;
}

#backgroundImage {
    background-image: url("../images/blur1cropped.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.row {
    text-align: center;
}

#leftal {
    text-align: right;
}

.btn-circle { 
    width: 30px; 
    height: 30px; 
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
    background-color: darkblue;
    color: aliceblue;
}

footer {
    width: 100%;
    text-align: center;
    background-color: rgba(117, 190, 218, 0.6);
    color: black;
}

#play {
    width: 25px;
    margin: auto;
}

#leaderboard {
    width: 25px;
    margin: auto;
}

#buttons {
    margin-top: 5%;
}

