#banner {
    width:100%;
    max-width: 700px;
    padding-top: 2em;
    padding-bottom: 2em;
}

#menu-container {
    background-color: rgba(153, 225, 255, 0.4);
    width: 80%;
    min-height: 450px;
    margin: auto;
	border-radius: 1em;
    padding: 30px;
    min-width: 200px;
    overflow: hidden;
    position: relative;
}

@font-face {
    font-family: 'myFirstFont';
    src:  url('orangejuice2.0.ttf') format('truetype');
}
.btn {
    font-family: myFirstFont;
    width: 15%;
    min-width: 150px;
    border-style: none;
}


#menu-container2 {
    background-color: rgba(153, 225, 255, 0.4);
    width: 80%;
    min-height: 450px;
    margin: auto;
	  border-radius: 1em;
    padding: 30px;
    min-width: 200px;
    overflow: hidden;
    position: relative;
}

#questions {
    margin: auto;
    text-align: center;
    position: relative;
    right: 0px;
}

body, html {
    height: 100%;
    margin: 0;
}

/*@font-face {
    font-family: myFont;
    src: url("fonts/QuietSomethingDEMO.otf");
}*/

body {
    background-image: url("../images/bird-clouds-cold-414101-4.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#opaque {
    opacity: .6;
}

#next-question {
    color: black;
    border : 2px solid black;
}

#popup{
    position:absolute;
    z-index: 1;
    top: 35%;
    right: 1%;
    left: 1%;
    opacity: .9;
}

.modal-backdrop{
  opacity:0; transition:opacity .2s;
}
.modal-backdrop.in{
  opacity:.7;
}

.background1{
    position:absolute;
    top:115px;
    z-index: -1;
    text-align:center;
    height:80%;
    width: 100%;
    overflow:hidden;
}

.videobox{
  padding: 0px;
}

.icon {
    max-width: 70%;
    max-height: 95%;
    mix-blend-mode: multiply;
}

.row {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.row-right {
    text-align: right;
    margin-top: 10px;
    margin-bottom: 10px;
}

.questionText {
    position:relative;
    font-size: 20px;
    color: black;
}

.option {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#help-icon{
    max-width:5%;
    min-width: 40px;
    position: absolute;
    right: 1em;
    bottom: 1em;
    cursor: pointer;
}

#help-icon:active{
     box-shadow: inset 20px 20px 20px 20px White;
     border-radius: 10em;
}

#banner:active {
  animation: shake 0.75s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0); 
  transition: all 0.8s;  
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }

}

footer {
    position: fixed;
    padding-left: 10px;
    padding-right: 10px;
    bottom: 0;
    left:25%;
    background-color: rgba(117, 190, 218, 0.4);
    width: 50%;
    color: black;
    text-align: center;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    font-size: 10px;
}

#modal-drippy {
    float: left;
    width: 75px;
}


