#heading {
    text-align: center;
}

body {
	overflow:auto;
	background-color:white;
	background-image:url(../images/blur1cropped.jpg);
    background-repeat: no-repeat;
	background-size: cover;
}

.main {
	width: 60%;
	background-color: deepskyblue;
	border-radius: 1em;
	padding: 2em 2em 4em 4em;
	margin-left: 1em;
	margin-right: 1em;
	margin-bottom: 2em;
	margin-top: 1em;
	margin: auto;
	color: #000;
	border: 10px solid blue;
	overflow: auto;
}

.homePageButton {
    background-color: darkblue; 
    border: black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
    border-radius: 12px;
    width: 25%;
    margin: 15px;
    border: 2px solid black;
}

.homePageButton:hover {
    background-color: black; 
    color: greenyellow;
    border: 2px solid yellow;
}

.wrapper {
    text-align: center;
}

.circularButton {
    border-radius: 50%;
    background-color: dimgrey;
    border : 2px solid black;
    height: 50px;
    width: 50px;
    font-size: 30px;
}

#leftal {
    text-align: right;
}

#banner {
    margin: auto;
    display: block;
}



