/* Font definitions.*/
@font-face {
    font-family: newFont;
    src:  url('../fonts/HandDrawnShapes.ttf') format('truetype');
}

/* @font-face kit by Fonts2u (http://www.fonts2u.com) */
@font-face {
    font-family: "ValkenRegular";
    src: url('../fonts/Valken__.eot') format('eot'), 
         url('../fonts/Valken__.woff') format('woff'), 
         url('../fonts/Valken__.ttf') format("truetype"), 
         url('../fonts/Valken__.svg') format("svg");
    font-weight: normal;
    font-style: normal;
}

body, html {
    position:relative;
    font-family: newFont;
    height: 100%;
    margin: 0;
    overflow-x:hidden;
    overflow-y:auto;
}

body {
    background-image: url("../images/221-795x1024.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

footer {
    position: fixed;
    bottom:0;
    color: black; 
    font-size: 2vmin;
    left: 50%;
    transform: translateX(-50%);
    z-index : -1;
}
.content{
    position:relative;
}

.row {
    padding-bottom: 25px;
    text-align: center;
    margin-top: 1em;
    margin-left: 0;
    margin-right: 0;
}

/*Gradient effect on button backgrounds*/
/* <- Magic Start! */
.btn {
  flex: 1 1 auto;
  background-image: linear-gradient(to right, #159CDE   0%, #2EDAF4 51%, #159CDE   100%);
  width:50%;
  max-height: 50px;
  min-width: 250px;
  border-style: none;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  text-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  border-radius: 10px;
 }

.btn:hover {
  background-position: right center; /* change the direction of the gradient color change here */
  box-shadow: 0 0 20px #888;
}

/* btn setting for when the screen has higher width than 720px*/
@media screen and (min-width: 720px) {
    .btn {
        width: 40%;
        min-height: 100px;
        border-style: none;
        font-size: 1.5em;
    }
}
/* Magic End -> */
/* Settings for overwritting bootstrap fade modals*/
.modal{
    top: 35%;
    transform: translateY(-40%);
}

.modal-title{
    font-size: 1em;
}

.modal-dialog{
    font-size: 1em;
}

.modal-footer button{
    width: 30%;
}

@media screen and (max-width: 350px) {
    .modal-footer button{
        width: 10%;
        left: 0;
    }
}

@media screen and (min-width: 700px) {
    
    .modal{
        height:100%;
        top: 50%;
        left: 30%;
        transform: translate(-20%,-50%);
    }

    .modal-dialog{
        width: 80%;
        font-size: 2em;
    }
    
    .modal-footer button{
        font-size: 1em;
    }
}

.modal-backdrop{
  opacity:0; transition:opacity .2s;
}
.modal-backdrop.in{
  opacity:.7;
}

/*Row containing help-icon*/
.row-right {
    text-align: right;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*Settings for questions */
.questionText {
    position:relative;
    font-size: 20px;
    color: black;
}
/*Settings for button options*/
.option {
    text-align: center;
}

/*Container includes: questions,options and help-icon*/
#menu-container2 {
    position: relative;
	border-radius: 1em;
    margin: auto;
    width: 80%;
    min-height: 30vh;
}
/*potential settings for back button*/
#back{
    width:100%;
    height:100%;
}

/*Set relative for children to have settings reference to*/
#waterMeter{
    position:relative;
}

#watermeterbar{
    position:relative;
    text-align:center;
    max-width: 150px;
    max-height: 150px;
}

/*Setting for Score Image*/
#scoreImage {
    height : 100%;
    width: 100%;
    max-width: 200px;
}

#score{
}
/*Setting for Score number*/
#totalScore{
    text-align:center;
    padding:0;
    height:100%;
}

/*Timer image settings*/
#watertap{
    width: 30%;
    height: 30%;
}

/*Timer value settings*/
#waterMeter-value{
    position:absolute;
    font-family:ValkenRegular;
    font-size:2em;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/*Question conatiner settings*/
#questions {
    margin: auto;
    text-align: center;
    position: relative;
    right: 0px;
}

/*drippy*/
#modal-drippy {
    float: left;
    width: 75px;
}

/* Correct&Wrong popup setting*/
#popop{
    position: fixed; /* or absolute */
    z-index: 1;
    opacity: .9;
    width: 80%;
    top:25%;
    left:50%;
    transform: translate(-50%,-25%);
}
#opaque {
    opacity: .6;
}
/*next question setting*/
#next-question {
    color: black;
    border : 2px solid black;
}
/*Howto modal settings*/
#howTo {
    background: url(../images/help.png);
    background-size:40px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    border: none;

}

#loadingGif {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

#gifDiv {
    text-align: center;
}

#gifDivQuestions {
    padding-top: 200px;
    margin-bottom: auto;
    text-align: center;
}

#endGameBTN {
    min-width: 100px;
    width: 30%;
    max-width: 250px;
}
.watertap{
    position: relative;
    z-index 2;
    width: 122px;
    height: 93px;
}


